<div class="worktop">

<script type="text/javascript">
	$(function(){
		setStdColourPicker('#field');
	});
</script>

<div class="errorBox">
	{error:field}
</div>

	<form method="post" action="">

		<div class="crumbs">
			<h2>
				<span class="fa fa-folder-open"></span>{from} 
				<span class="fa fa-share"></span> " {friendlyFieldName} " 
				<span class="fa fa-share"></span> Palette Chooser
				{editVariable}
			</h2>
		</div><!--crumbs-->

		<div class="fieldNotes"><span class="fa fa-info-circle"></span>{fieldNotes}</div>

		<label>{friendlyFieldName}:</label>
		<div class="iconPreview">
			<input type="text" id="field" name="field" tabindex="1" value="{form:field}" placeholder="#000000" alt="Please select a colour (as hexadecimal colour code)">
		</div><!--iconPreview-->

		<div class="submitRow">
			<button type="submit" id="cancel" name="cancel" alt="Cancel" tabindex="1">
					<span class="fa fa-reply"></span> Cancel
			</button>
			<button type="submit" id="save" name="save" alt="Save" tabindex="1">
				<span class="fa fa-floppy-o"></span> Save
			</button>
		</div><!--submitRow-->

	</form>
</div><!--worktop-->