<!DOCTYPE html>
<html>
	<head>
		<style>
			
		</style>
		<title>Test</title>
	</head>
	<body>

		<div id="scene">

			<ul>
				<li><img src="/site/files/badges/apple.png" width="32" height="32"></li>
				<li><img src="/site/files/badges/digg.png" width="32" height="32"></li>
				<li><img src="/site/files/badges/flickr.png" width="32" height="32"></li>
				<li><img src="/site/files/badges/myspace.png" width="32" height="32"></li>
				<li><img src="/site/files/badges/facebook.png" width="32" height="32"></li>
				<li>{IMG:lastfm}</li>
			</ul>

		</div><!--scene -->


	</body>
</html>